<div class="tab-card">
    <a href="/tablatures/<%= tab._id %>">
        <h1 class="margin-y-sm"><%= tab.name %></h1>
        <div class="thin-font">
            <p><%= tab.notesOnStrings[0]%></p>
            <p><%= tab.notesOnStrings[1]%></p>
            <p><%= tab.notesOnStrings[2]%></p>
            <p><%= tab.notesOnStrings[3]%></p>
            <p><%= tab.notesOnStrings[4]%></p>
            <p><%= tab.notesOnStrings[5]%></p>
        </div>
    </a>
    <% if (showOwner) { %>
        <footer class="flex"> 
            <a class="center-self" href="<%=  %>">from <strong class="sm"><%= tab.owner.name %></strong></a>
            <a href=""><img class="circle img-sm center-self" src="<%= tab.owner.avatar %>" alt="" srcset=""></a>
        </footer>
    <% } %>
</div>