
<p><%= tab.name %></p>
<p class="tab-text"><%= tab.notesOnStrings[0]%></p>
<p class="tab-text"><%= tab.notesOnStrings[1]%></p>
<p class="tab-text"><%= tab.notesOnStrings[2]%></p>
<p class="tab-text"><%= tab.notesOnStrings[3]%></p>
<p class="tab-text"><%= tab.notesOnStrings[4]%></p>
<p class="tab-text"><%= tab.notesOnStrings[5]%></p>
