<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/gallery.css" />
<%- include('../partials/nav') %>

<main>

    <% tabs.forEach(tab => { %>
        <div class="gallery-container">
            <a href="/tablatures/<%= tab._id %>" class="tab-link gallery-element">
                <h3><%= tab.name %></h3>
                <p class="tab-text"><%= tab.notesOnStrings[0] %></p>
                <p class="tab-text"><%= tab.notesOnStrings[1] %></p>
                <p class="tab-text"><%= tab.notesOnStrings[2] %></p>
                <p class="tab-text"><%= tab.notesOnStrings[3] %></p>
                <p class="tab-text"><%= tab.notesOnStrings[4] %></p>
                <p class="tab-text"><%= tab.notesOnStrings[5] %></p>
            </a>
        </div>
    <% }) %>
</main>

<%- include('../partials/footer') %>