<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tablature-styles.css" />
<link rel="stylesheet" href="/stylesheets/tablature-edit-styles.css" />
<%- include('../partials/nav') %>

<main>
    <!-- Add to collection -->
    <form action="/collections" method="POST" autocomplete="off">
        <div class="flex center">
            <input class="text-input width-sm" type="text" name="name" placeholder="New collection" required>
            <button type="submit" class="btn save-btn xl">+</button>
        </div>
    </form>

    <!-- View collections -->
    <% collections.forEach(collection => { %>
        <div class="flex margin-lg ">
            <a href="/collections/<%= collection._id %>"><h1 class="thin thin-font mono-font"><%= collection.name %></h1></a>
            <form class="center-self" action="/collections/<%= collection._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn dlt-btn color-3">
                    <i class="fa-solid fa-circle-minus md"></i>
                </button>  
            </form>
        </div>

        <div class="flex wrap center sm thin-font mono-font">
            <% collection.tabs.forEach(tab => { %>
                <%- include('../partials/tab-card.ejs', {tab, showOwner: false}) %> 
            <% }) %>
        </div>
        <% if (collection.tabs.length !== 0) { %>
            <div class="flex center sm margin-sm thin-font">
                <a href="/collections/<%= collection._id %>">view collection</a>
            </div>
        <% } else {%>
            <div class="flex center md">
                <p class="thin-font md">empty</p>
            </div>
        <% } %> 
    <% }) %>
</main>

<%- include('../partials/footer') %>