<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <!-- Add to collection -->
    <form action="/collections" method="POST" autocomplete="off">
        <div class="flex center">
            <input class="text-input width-sm margin-lg" type="text" name="name" placeholder="New collection">
            <button type="submit" class="btn save-btn xl">+</button>
        </div>
    </form>

    <!-- View collections -->
    <% collections.forEach(collection => { %>
        <div class="flex margin-lg">
            <h1><%= collection.name %></h1>
        </div>
        <hr class="margin-lg">

        <div class="flex wrap center sm">
            <% collection.tabs.forEach(tab => { %>
                <%- include('../partials/tab-card.ejs', {tab, showOwner: false}) %> 
            <% }) %>
        </div>
        <% if (collection.tabs.length !== 0) { %>
            <div class="flex center sm margin-sm">
                <a href="/collections/<%= collection._id %>">view collection</a>
            </div>
        <% } else {%>
            <div class="flex center md">
                <p>empty</p>
            </div>
        <% } %> 
    <% }) %>
</main>

<%- include('../partials/footer') %>