<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/collections.css" />
<%- include('../partials/nav') %>

<main>
    <form action="/collections" method="POST">
        <input type="text" name="name">
        <button type="submit">Create collection</button>
    </form>
    <% collections.forEach(collection => { %>
        <div class="collection">
            <h1><%= collection.name %></h1>
            <div class="tabs">
                <% collection.tabs.forEach(tab => { %>
                    <div class="gallery-container">
                        <a href="/tablatures/<%= tab._id %>" class="tab-link">
                            <h2><%= tab.name %></h2>
                            <%= tab.notesOnStrings[0] %><br>
                            <%= tab.notesOnStrings[1] %><br>
                            <%= tab.notesOnStrings[2] %><br>
                            <%= tab.notesOnStrings[3] %><br>
                            <%= tab.notesOnStrings[4] %><br>
                            <%= tab.notesOnStrings[5] %><br>
                        </a>
                    </div>
                <% }) %>
            </div>
            <a class="collection-link" href="/collections/<%=collection.id%>">view entire collection</a>
        </div>
    <% }) %>
</main>

<%- include('../partials/footer') %>