<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tablature-edit-styles.css" />
<link rel="stylesheet" href="/stylesheets/tablature-styles.css" />
<script defer src="/scripts/tab-editor.js"></script>
<%- include('../partials/nav') %>
<main>
  <div class="flex-col center lg">
    <form action="/tablatures/<%= tab.id %>" method="POST" autocomplete="off">

      <div class="flex">
        <!-- Tab name -->
        <input maxLength="23" type="text" name="name" class="text-input grow-1 xl" placeholder="a tasty lick" value="<%= tab.name %>" >
        
        <!-- Public switch -->
        <label class="switch">
          <input type="checkbox" name="public"
            <% if (tab.public) { %>
              checked="true"
            <% } %>
          >
          <span class="slider round"></span>
        </label>
      
      </div>
      
      <!-- Folder select -->
      <div class="flex space-between">
        <select name="folder">
          <% if (tab.folder === null) { %>
            <option value="null" selected>Add to collection</option>
          <% } else { %>
            <option value="remove">None</option>
          <% } %>
          <% collections.forEach(collection => { %>
            <% if (collection.equals(tab.folder)) { %>
              <option selected value="current"><%= collection.name %></option>
            <% } else { %>
              <option value="<%= collection.id %>"><%= collection.name %></option>
            <% } %>
          <% }) %>
        </select>
        <p class="sm no-marg dark-text">public</p>
      </div>
    
      <!-- Tab input field -->
      <div class="tab-editing margin-y-xxl" id="edit">
        <textarea name="tabGrid" id="tabGrid" cols="40" rows="6" maxlength="251">
<%= tab.tabGrid[0]%>
<%= tab.tabGrid[1]%>
<%= tab.tabGrid[2]%>
<%= tab.tabGrid[3]%>
<%= tab.tabGrid[4]%>
<%= tab.tabGrid[5]%></textarea>
        <textarea name="rawInput" id="rawInput" cols="40" rows="6" maxlength="251">
<%= tab.rawInput[0]%>
<%= tab.rawInput[1]%>
<%= tab.rawInput[2]%>
<%= tab.rawInput[3]%>
<%= tab.rawInput[4]%>
<%= tab.rawInput[5]%></textarea>
      </div>
    
    <!-- Save btn form -->
      <div class="flex center">
        <button type="submit" class="btn save-btn">
          SAVE
        </button>  
      </div>
    
    </form>
    <!-- Delete btn form -->
    <form class="delete-form" action="/tablatures/<%= tab.id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn dlt-btn color-3">
        <i class="fa-solid fa-circle-minus"></i>
      </button>  
    </form>  
  </div>
</main>

<%- include('../partials/footer') %>
