<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tablature-edit-styles.css" />
<link rel="stylesheet" href="/stylesheets/tablature-styles.css" />
<script defer src="/scripts/tab-editor.js"></script>
<%- include('../partials/nav') %>

<main>
  <div class="flex-col center lg">
    <form action="/tablatures" method="POST" autocomplete="off" id="tab-input-form">

      <div class="flex">
        <!-- Tab name -->
        <input maxLength="23" type="text" name="name" class="text-input grow-1 xl" placeholder="a tasty riff" autocomplete="nope" >
        
        <!-- Public switch -->
        <label class="switch">
          <input type="checkbox" name="public">
          <span class="slider round"></span>
        </label>
      
      </div>
      
      <!-- Folder select -->
      <div class="flex space-between">
        <select name="folder">
          <option value="null" selected>Add to collection</option>
          <% collections.forEach(collection => { %>
          <option value="<%= collection.id %>"><%= collection.name %></option>
          <% }) %>
        </select>
        <p class="sm no-marg dark-text">public</p>
      </div>
    
      <div class="tab-editor margin-xlg">
        <textarea name="tabGrid"cols="40" rows="6" maxlength="251" id="tabGrid"></textarea>
        <textarea name="rawInput" cols="40" rows="6" maxlength="251" id="rawInput"></textarea>
      </div>
    
    <!-- Save btn form -->
      <div class="flex center">
        <button type="submit" class="btn save-btn">
          SAVE
        </button>  
      </div>
    
    </form>
  </div>
<!-- Delete btn form - disabled - hidden here so layout doesn't get bumped -->
<form class="delete-form hidden">
  <button class="btn dlt-btn color-3">
    <i class="fa-solid fa-circle-minus"></i>
  </button>  
</form>
</main>

<%- include('../partials/footer') %>
