<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <% if (userAuth === 'owner') { %>
        <%- include('../partials/tab-show-owner') %>
    <% } else if(userAuth === 'user') { %>
        <%- include('../partials/tab-show-user') %>
    <% } else {%>
        <%- include('../partials/tab-show-guest') %>
    <% } %>
     
</main>

<%- include('../partials/footer') %>
