<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tablature-styles.css" />
<%- include('../partials/nav') %>
<main>
    <% if(userAuth === 'user') { %>
        <div class="flex-col center lg">
            <%- include('../partials/tab-card'), {
                tab, 
                showOwner: true, 
                showBookmark: true,
                } %>
        </div>
    <% } else {%>
        <div class="flex-col center lg">
            <%- include('../partials/tab-card', {tab, showOwner: true}) %>
        </div>
    <% } %>
</main>
    

<%- include('../partials/footer') %>
