<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <% if (userAuth === 'owner') { %>
        <div class="flex-col center lg">
            <%- include('../partials/tab-card-edit', {tab, showOwner: false}) %>
        </div>
    <% } else if(userAuth === 'user') { %>
        <%- include('../partials/tab-show-user'), {tab, showOwner: true, showBookmark: true} %>
    <% } else {%>
        <div class="flex-col center lg">
            <%- include('../partials/tab-card', {tab, showOwner: true}) %>
        </div>
    <% } %>
</main>
    

<%- include('../partials/footer') %>
